In [1]:
# Import required libraries
import os
import numpy as np
import pandas as pd

In [2]:
# Read emphysema data for all individuals in which emphysema classification was performed
emph_all=pd.read_csv(os.getcwd()+'/Emphysema_DATA_12-9.csv')
emph_all

,participant_id,eval_date_emph,eval_place___1,eval_place___2,eval_place___3,eval_place___4,centr_emph_wl_f,pan_emph_wl_f,para_emph_wl_f,centr_emph_wl_ef,...,ai_nod_vol9,ai_nod_dia2d_n9,ai_nod_dia3d_n9,ai_nod_id10,ai_det_true_nod10,ai_nod_vol10,ai_nod_dia2d_n10,ai_nod_dia3d_n10,gen_com_ai_nod,nodule_detection_and_quantification_ai_complete
0,914794,2022-08-23,0,1,0,0,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,915013,2022-08-23,0,1,0,0,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,915273,2022-08-23,0,1,0,0,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,915339,2022-08-23,0,1,0,0,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,916078,2022-08-23,0,1,0,0,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1866,997928,NaN,0,1,0,0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1867,997973,NaN,0,1,0,0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1868,998278,NaN,0,1,0,0,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1869,998310,NaN,0,1,0,0,NaN,NaN,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L01 < 30 mm3,2
1870,998587,NaN,0,1,0,0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [3]:
# Omit 'unverified' cases where the emphysema status is not verified
emph_all=emph_all[emph_all['emphysema_specific_complete']==2]

In [4]:
#Find where we have either Fleischner or Extender Fleischner for the whole lung filled
# Get the indices of individuals with advanced emphysema
all_ind_adv=list(np.where(emph_all['centr_emph_wl_ef']==6)[0])+list(np.where(emph_all['centr_emph_wl_f']==6)[0])

# Get the individuals with advanced emphysema and save to csv
advanced=emph_all.iloc[all_ind_adv]
advanced.to_csv('ImaLife20-AdvancedCentrEmphyNo_DATA_2022-04-07_nikos.csv',index=False)

In [5]:
advanced

,participant_id,eval_date_emph,eval_place___1,eval_place___2,eval_place___3,eval_place___4,centr_emph_wl_f,pan_emph_wl_f,para_emph_wl_f,centr_emph_wl_ef,...,ai_nod_vol9,ai_nod_dia2d_n9,ai_nod_dia3d_n9,ai_nod_id10,ai_det_true_nod10,ai_nod_vol10,ai_nod_dia2d_n10,ai_nod_dia3d_n10,gen_com_ai_nod,nodule_detection_and_quantification_ai_complete
671,163557,NaN,0,1,0,0,NaN,NaN,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
711,197239,NaN,0,1,0,0,NaN,NaN,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1145,512145,NaN,0,1,0,0,NaN,NaN,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1382,670208,NaN,0,1,0,1,NaN,NaN,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"L04 detected by manual reader too, >10 nodules",2
1869,998310,NaN,0,1,0,0,NaN,NaN,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L01 < 30 mm3,2

#### Similar for confluent, moderate, mild, trace and no-emphysema

In [6]:
all_ind_conf=list(np.where(emph_all['centr_emph_wl_ef']==5)[0])+list(np.where(emph_all['centr_emph_wl_f']==5)[0])
confluent=emph_all.iloc[all_ind_conf]
confluent.to_csv('ImaLife20-ConfluentCentrEmphyN_DATA_2022-04-07_nikos.csv',index=False)

In [7]:
confluent

,participant_id,eval_date_emph,eval_place___1,eval_place___2,eval_place___3,eval_place___4,centr_emph_wl_f,pan_emph_wl_f,para_emph_wl_f,centr_emph_wl_ef,...,ai_nod_vol9,ai_nod_dia2d_n9,ai_nod_dia3d_n9,ai_nod_id10,ai_det_true_nod10,ai_nod_vol10,ai_nod_dia2d_n10,ai_nod_dia3d_n10,gen_com_ai_nod,nodule_detection_and_quantification_ai_complete
11,922332,2022-08-23,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
27,932278,2022-08-19,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
31,933528,2022-08-19,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
34,936027,2022-08-19,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
78,959988,2022-08-12,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
149,997831,2022-07-04,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
166,259523,2022-07-01,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
183,387406,2022-07-01,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
207,711977,2022-07-01,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
827,282528,NaN,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Doubt on L01 and L04, need to check",2
926,370941,NaN,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1268,592863,NaN,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"all detected nodules < 30 mm3, !!!!large mass ...",2
1306,617769,NaN,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both < 30 mm3 on manual read,2
1499,754238,NaN,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1632,845594,NaN,0,1,0,0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1674,866164,NaN,0,1,0,1,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [8]:
all_ind_mod=list(np.where(emph_all['centr_emph_wl_ef']==4)[0])+list(np.where(emph_all['centr_emph_wl_f']==4)[0])
moderate=emph_all.iloc[all_ind_mod]
moderate.to_csv('ImaLife20-ModerateCentrEmphyNo_DATA_2022-04-07_nikos.csv',index=False)

In [9]:
moderate

,participant_id,eval_date_emph,eval_place___1,eval_place___2,eval_place___3,eval_place___4,centr_emph_wl_f,pan_emph_wl_f,para_emph_wl_f,centr_emph_wl_ef,...,ai_nod_vol9,ai_nod_dia2d_n9,ai_nod_dia3d_n9,ai_nod_id10,ai_det_true_nod10,ai_nod_vol10,ai_nod_dia2d_n10,ai_nod_dia3d_n10,gen_com_ai_nod,nodule_detection_and_quantification_ai_complete
130,985437,2022-07-12,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
379,138421,2022-04-21,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
592,101191,NaN,0,1,0,1,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
636,136550,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
638,136581,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"L02 missed in manual read, L05 < 30 mm3 in ma...",2
718,200637,NaN,0,1,0,1,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L02 missed in manual read,2
777,240819,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"L 01 string, L02 true nodule < 30 mm3",2
794,255903,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nodule L03 missed by manual reader,2
830,283229,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
842,294019,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
888,332758,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"L3 < 30 mm3, detected by human reader",2
1028,438820,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1139,503788,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1203,552612,NaN,0,1,0,1,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nod volume< 30mm3, detected by manual reader",2
1288,609065,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1333,633549,NaN,0,1,0,1,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"L01 string, L02 nodule missed by human reader",2
1371,660928,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"L03, L04 en L05 < 30 mm3",2
1505,757591,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1583,810826,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1659,860079,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1692,873698,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L02 and L03 < 30 mm3,2
1793,944714,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1833,971099,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,multiple pleural plaques detected as nodules..,2
1846,985215,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.36,2
1854,991277,NaN,0,1,0,0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L01 string,2
465,522692,2022-04-04,1,0,0,0,4.0,1.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
496,884513,2022-03-28,1,0,0,0,4.0,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
515,317884,2022-03-10,1,0,0,0,4.0,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
563,328327,2022-02-24,1,0,0,0,4.0,1.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [10]:
# np.unique(moderate['participant_id']) #List of individuals with moderate emphysema

In [11]:
# Check if the same participant is in multiple groups (Advanced, Confluent, Moderate)

for pat in advanced['participant_id']:
    if pat in moderate['participant_id']:
        print('The following participant is in Advanced&Moderate emphysema group')
        print(pat)
    if pat in confluent['participant_id']:
        print('The following participant is in Advanced&Confluent emphysema group')
        print(pat)
        
for pat in moderate['participant_id']:
    if pat in confluent['participant_id']:
        print('The following participant is in Confluent&Moderate emphysema group')
        print(pat)

In [12]:
# Get the indices of individuals with no emphysema

all_ind_noemph=list(np.where(emph_all['centr_emph_wl_ef']==1)[0])+list(np.where(emph_all['centr_emph_wl_f']==1)[0])
noemph=emph_all.iloc[all_ind_noemph]
noemph.to_csv('ImaLife20-NoCentrEmphyNodules_DATA_2022-04-07_nikos.csv',index=False)
noemph

,participant_id,eval_date_emph,eval_place___1,eval_place___2,eval_place___3,eval_place___4,centr_emph_wl_f,pan_emph_wl_f,para_emph_wl_f,centr_emph_wl_ef,...,ai_nod_vol9,ai_nod_dia2d_n9,ai_nod_dia3d_n9,ai_nod_id10,ai_det_true_nod10,ai_nod_vol10,ai_nod_dia2d_n10,ai_nod_dia3d_n10,gen_com_ai_nod,nodule_detection_and_quantification_ai_complete
25,931626,2022-08-19,0,1,0,0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
56,946949,2022-08-15,0,1,0,0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
63,950769,2022-08-15,0,1,0,0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
87,965471,2022-08-12,0,1,0,0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
99,969973,2022-08-12,0,1,0,0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,527364,2022-03-03,1,0,0,0,1.0,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
570,519726,2022-02-17,1,0,0,0,1.0,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
572,693638,2022-02-17,1,0,0,0,1.0,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
578,138223,2022-01-26,1,0,0,0,1.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
580,366169,2022-01-26,1,0,0,0,1.0,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [13]:
all_ind_mild=list(np.where(emph_all['centr_emph_wl_ef']==3)[0])+list(np.where(emph_all['centr_emph_wl_f']==3)[0])
mild=emph_all.iloc[all_ind_mild]
mild.to_csv('ImaLife20-MidCentrEmphyNodules_DATA_2022-04-07_nikos.csv',index=False)

In [14]:
all_ind_trace=list(np.where(emph_all['centr_emph_wl_ef']==2)[0])+list(np.where(emph_all['centr_emph_wl_f']==2)[0])
trace=emph_all.iloc[all_ind_trace]
trace.to_csv('ImaLife20-TraceCentrEmphyNodul_DATA_2022-04-07_nikos.csv',index=False)

In [15]:
##Possible values for emphysema - Should be 1-6
# np.unique(emph_all['centr_emph_wl_ef']) 
# np.unique(emph_all['centr_emph_wl_f'])